{
  "version" : "2017-02-28",
  "operation" : "Scan",
  "consistentRead" : false,
  #if( ${context.arguments.count} )
    "limit": $util.toJson($context.arguments.count)
  #else
    "limit": 5
  #end
  #if( ${context.arguments.nextToken} )
    , "nextToken": $util.toJson($context.arguments.nextToken)
  #end
}
